<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input
      [(ngModel)]="newTaskTitle"
      placeholder="Nueva tarea"
    ></ion-input>

    <ion-button (click)="addTask()">
      Agregar
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of tasks$ | async; trackBy: trackById">
      <ion-checkbox slot="start" (ionChange)="toggle(task.id)"></ion-checkbox>

      <ion-label [class.completed]="task.completed">
        {{ task.title }}
      </ion-label>

      <ion-button color="danger" fill="clear" (click)="delete(task.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>