<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input
      [(ngModel)]="newCategoryName"
      placeholder="Nueva categoría">
    </ion-input>

    <ion-button (click)="addCategory()">
      Agregar
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let cat of categories$ | async">
      <ion-label>{{ cat.name }}</ion-label>

      <ion-input
        *ngIf="editingId === cat.id"
        [(ngModel)]="editingName">
      </ion-input>

      <ion-button fill="clear" (click)="startEdit(cat)">
        Editar
      </ion-button>

      <ion-button
        fill="clear"
        color="success"
        *ngIf="editingId === cat.id"
        (click)="saveEdit(cat.id)">
        Guardar
      </ion-button>

      <ion-button
        color="danger"
        fill="clear"
        (click)="delete(cat.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>